.Main {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  margin: 0.9765625vw;
  padding: 0.4557291666666667vw 0.9765625vw 0.9765625vw 0.9765625vw;

  /* min-height: 86vh; */
  /* height: 96%; */
}
.head
{
  display: flex;
  align-items: center;
  padding-left: 7px;
  /* margin-top: 6px; */
  /* background-color: #2A84EB; */
}
.head h1{
  font-size: 1.3rem;
  line-height: 1.625;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.0075em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  width: 200px;
  padding-left: 10px;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 700;
}.ind
{
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(123, 128, 154);
  font-weight: 600;
}
.ind2
{
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.25;
  letter-spacing: 0.03333em;
  text-transform: none;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(85, 39, 149);
  font-weight: 600;
}
.ind2:hover
{
  text-decoration: underline;
  cursor: pointer;
}

.buttonHolder
{
  width: 100%;
  display: flex;
  padding: 0px 15px;
  margin-bottom: 5px;
  justify-content: flex-end;
}
.heads
{
  display: flex;
  align-items: center;
  padding-left: 7px;
  /* background-color: #2A84EB; */
}
.heads h1{
  font-size: 1.3rem;
  line-height: 1.625;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.0075em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  width: 200px;
  text-transform: capitalize;
  vertical-align: unset;
  text-decoration: none;
  color: rgb(52, 71, 103);
  font-weight: 700;
  padding-left:10px
}
.okok
{
  color: rgba(0, 0, 0, 0.87);
  overflow: auto;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  overflow: visible;
  margin-top: 40px;
  /* padding: 0px 10px; */
}
.headss
{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -24px;
    margin-bottom: 20px;
    padding: 24px 16px;
    opacity: 1;
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    /* color: rgb(52, 71, 103); */
    color: white;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(0 187 212 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;
}
.headTitle
{
  position: relative;
  text-align: left;
  opacity: 0.7;
  background: transparent;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.75rem;
  /* font-family: Roboto, Helvetica, Arial, sans-serif; */
  font-family: 'Poppins', sans-serif !important;

  font-weight: 800 !important;
  text-transform: uppercase;
}
.ind{
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  font-size: 0.75rem !important;
  line-height: 1.25 !important;
  letter-spacing: 0.03333em !important;
  opacity: 1 !important;
  text-transform: none !important;
  vertical-align: unset !important;
  text-decoration: none !important;
  color: rgb(123, 128, 154) !important;
  font-weight: 600 !important;
  }

.headss p
{
  margin: 0px;
    font-size: 1rem;
    line-height: 1.625;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.0075em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.button1{
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.02857em;
  min-width: 64px;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 700;
  border-radius: 0.5rem;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  transition: all 150ms ease-in 0s;
  min-height: 2.5rem;
  padding: 0.625rem 1.5rem;
  background-image: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  background-position-y: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  color: rgb(255, 255, 255);
  gap: 10px;
  box-shadow: rgb(52 71 103 / 15%) 0rem 0.1875rem 0.1875rem 0rem, rgb(52 71 103 / 20%) 0rem 0.1875rem 0.0625rem -0.125rem, rgb(52 71 103 / 15%) 0rem 0.0625rem 0.3125rem 0rem;
  background-size: 150% !important;
  background-position-x: 25% !important;
}
.download
{
  cursor: pointer;
    background-color: #2A84EB;
    align-self: center;
    border: 1px solid #2A84EB;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    /* font-weight: bold; */
    padding: 5px 10px;
    /* height: 90%; */
    text-decoration: none;
}

@media all and (max-width: 650px) {
  .headss
  {
    overflow-x: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    box-shadow: none;
    overflow: auto;

  }
  .container
  {
    overflow-x: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    box-shadow: none;
    overflow: auto;


  }
  .table
  {
    overflow-x: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    box-shadow: none;
    overflow: auto;

  }
}
@media only screen and (max-width: 930px) {
  .okok {
      width: 65vw !important;
  }
}

@media only screen and (max-width: 765px) {
  .okok {
      width: 92vw !important;
  }
}