.Main
{
    display: flex;
    background-color: white;
    /* align-items: center; */
    flex-direction: column;
    padding: 30px;
    margin: 15px;
    height: 96%;

}

.buttonHolder
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button1
{
  cursor: pointer;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  align-self: center;
  border: 1px solid var(--primary);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
  /* font-weight: bold; */
  text-decoration: none;
  padding: 8px 10px;
}

.download
{
  cursor: pointer;
    background-color: #2A84EB;
    align-self: center;
    border: 1px solid #2A84EB;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    /* font-weight: bold; */
    padding: 5px 10px;
    /* height: 90%; */
    text-decoration: none;
}