.main
{
    background-color: white;
    height: 96%;
    padding: 30px;
    margin: 15px;
}

.button{
    cursor: pointer;
    background-color: #2A84EB;
    align-self: center;
    border: 1px solid #2A84EB;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    /* font-size: 18px; */
    border-radius: 2px;
    /* font-weight: bold; */
    padding: 8px 17px;

    /* height: 90%; */
    margin: 5px;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: flex-end;

}

.button svg{
    padding-top: 2px;
}

.instructions
{
    margin-top: 40px;
    margin-left: -20px;
    /* font-size: 20px; */
    margin-bottom: 10px;
}

.info{
    margin: 5px 0;
    font-size: 17px;
}

.input
{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    padding-left: 10px;
    width: 43px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 3px;
}
.Options
{
    display: flex;
    align-items: center;
    margin-top: 13px;
    
}
.Options p{
    margin-left: 10px;
}
.Options1
{
    margin-top: 20px;
    font-size: 14px;
    margin-left: 3px;
}

.Options1 input[type=checkbox]
{
    margin-right: 10px;
    height: 13px;
    width: 13px;
} 

.Options1 label{
    font-size: 15px;
}
.cancel
{
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 2px;
    transition: background-color .2s ease-in-out;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;

}
.save
{    cursor: pointer;
    background-color: #2A84EB;
    align-self: center;
    border: 1px solid #2A84EB;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    border-radius: 2px;
    padding: 8px 20px;
    text-decoration: none;
}

.buttonContainer
{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.buttonContainer1
{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.buttonContainer1 svg
{
    margin-right: 10px;
vertical-align: -.175em;
width: 1em;
height: 1em
}
.buttonContainer1 i
{
font-size: 15px;
margin: 0px 3px;
margin-right: 10px;
vertical-align: .125em;
width: 1em;
height: 1em
}
.hr
{
    margin-top: 10px;
}

.addQuestion
{
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #aaa;
    margin-bottom: 20px;
}

.header
{
    border-top:    1px solid #aaa;
    border-right:  1px solid #aaa; 
    border-left: 1px solid #aaa;
    height: 50px;
    display: flex;
}

.addQuestion
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
}

.p1
{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
        
}

.editorContainer
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.header
{
    border-top:    1px solid #aaa;
    border-right:  1px solid #aaa; 
    border-left: 1px solid #aaa;
    height: 66px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.select
{
   border: 1px solid #ddd;
    display: inline-block;
    padding: 2px;
    border-radius: 2px;
    height: 38px;
    display: flex;
    align-items: center;
}

.select select
{
    width: 200px;
    border:0px;
    font-size: 16px;
    outline:0px;
}

.select option
{
    font-size: 16px;
    height: auto;
}

.Options
{
    display: flex;
    align-items: center;
}
.Options p
{
    margin-right: 5px;
}

.input
{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    padding-left: 10px;
    width: 50px;
    font-size: 18px;
    line-height: 20px;
    border-radius: 3px;
}

.second{
    gap: 10px;
    display: flex;
}
.holder
{
    display: flex;
    flex-direction: column;
}
.answerContainer
{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.element
{
    width: 95%;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 5px 0px;
    justify-content: space-between;
    padding:10px;
    
}
.element svg
{
    color: red;
}
.element svg:hover
{
    color: #000;

}

.element input[type=text]
{
    width: 50%;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border linear .2s,box-shadow linear .2s;
    display: inline-block;
    vertical-align: middle;
    border-radius: 2px;
}
.element input[type=text]:focus {
    outline: none !important;
    border:1px solid #0374B5;
    box-shadow: 0 0 4px #719ECE;
  }
.element input[type=radio]
{
    margin-right: 10px;
}
.inputContainer
{
    width: 100%;
}
.paragraphContain
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.paragraphContain p
{
    width: 95%;
    text-align: end;
    color: #0374B5;
    font-size: 15px;
    cursor: pointer;
}
.paragraphContain p:hover
{
    text-decoration: underline;
}
.paragraphContain p svg{
    margin-right: 3px;
    vertical-align: -.175em;
    width: 1em;
    height: 1em;
    font-size: 14px;
}

.cancel3
{
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 2px;
    transition: background-color .2s ease-in-out;
    padding: 5px 14px;
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;

}
.save3
{    cursor: pointer;
    background-color: #2A84EB;
    align-self: center;
    border: 1px solid #2A84EB;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    margin-left: 10px;
}
.footer
{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.true
{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #0374B5; */
}

.trueSub
{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.label1{
    border: 1px solid #aaa;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 5px 0px;
    padding: 10px;
}
.label2
{
    border: 2px solid rgb(8, 151, 56);
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 70px;
    margin: 5px 0px;
    padding: 10px;
}
.trueSub input
{
    margin-right: 10px;
}

.questions
{
    margin: 20px 0;
}
.head{
display: flex;
justify-content: space-between;
height: 42px;
border-top:    1px solid #aaa;
border-right:  1px solid #aaa; 
border-left: 1px solid #aaa;
background-color:  #f5f5f5;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
.body
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
    padding: 10px;
    border: 1px solid #aaa;
}
.empty
{
    text-align: center;
    margin-bottom: 20px;
    color: #ccc;
}

.quizDetails
{
    height: 67px;
    margin-bottom: 1px;
    border: 2px solid #c7cdd1;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    border-radius: 3px;
    font-size: 16px;
    
}

.headerQuiz
{
    background-color: rgba(221, 221, 221, 0.347);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.edit
{  cursor: pointer;
  background-color: #2A84EB;
  align-self: center;
  border: 1px solid #2A84EB;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
  /* font-weight: bold; */
  padding: 5px 23px;
  /* height: 90%; */
  margin: 5px;
  text-decoration: none;}
.preview
{  cursor: pointer;
  background-color: #645CAA;
  align-self: center;
  border: 1px solid #645CAA;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
  /* font-weight: bold; */
  padding: 5px 23px;
  /* height: 90%; */
  margin: 5px;
  text-decoration: none;}

  .button0{
    cursor: pointer;
    background-color:#E53472 ;
  
    align-self: center;
    border: 1px solid #E53472;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    /* font-weight: bold; */
    padding: 5px 15px;
    /* height: 90%; */
    margin: 5px;
    text-decoration: none;
  }
  .button1{
    /* margin: 0 0 10px 0; */
  background-color: var(--primary);
  align-self: center;
  border-radius: 4px;
  border: 1px solid var(--primary);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif;
}