@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
}

.modalBackground {
    width: 100%;
    min-width: calc(100vw - 100%);
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0,0.3);
  }
  
  .modalContainer {
    width: 350px;
    height: 360px;
    border-radius: 6px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 25px;
    font-family: 'Roboto Flex', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
  }
  .fieldMain
  {
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
  }
  .field
  {
    margin-bottom: 2px;
    height: 60px;
    width: 85%;
    display: flex;
    margin-top: 17px;

    flex-direction: column;
  }
  .modalBackground h1
  {
    color: var(--primary);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  .h1
  {
    font-weight: 600;
    margin-bottom: 16px;
  }
  
  .field input{
    width: 100%;
    border-width: 0 0 2px;
    border-color: #9b9a9adc;
    font-size: 18px;
    outline: 0;
    border-width: 0 0 2px;
  }
  .field p
  {
    color: red;
    font-size: 16px;
  }

  
  .modalContainer .footer {
    /* flex: 20%; */
    display: flex;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    background-color: var(--primary);
    align-self: center;
    border-radius: 3px;
    border: 1px solid var(--primary);
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    text-decoration: none;
    font-family: 'Roboto Flex', sans-serif;
    margin: 0 9px 0 9px;
  }
  
