@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.navbar {
  height: 3.6rem;
  background-color: #5811cb;
  display: flex;
  align-items: center;
}
.navbar i {
  font-size: 28px;
  margin-left: 20px;
  color: rgba(216, 210, 210, 0.763);
}
.navbar i:hover {
  color: white;
}
.navbar img {
  align-self: center;
  justify-self: center;
  width: 80px;
  margin-top: -7px;
}

.navbar .logocenter {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 38px;
}
.mainDiv{
  display: flex; 
  height: 100%; 
  min-height: 91.7vh;
}
.nav-menu {
  background-color: #5811cb;
  width: 130px;
  display: flex;
  justify-content: center;
  max-width: 4.88vw;
  min-width: 70px;
  transition: width 0.2s;
}
.nav-menu.active {
  display: flex;
  justify-content: center;
  width: 450px;
  min-width: 200px;
  max-width: 14.12vw;
}
.nav-menu.active .nav-menu-items .hr {
  width: 70%;
  color: white;
  height: 2.5px;
  background-color: white;
  border-radius: 100px;
  margin-bottom: 20px;
  margin-left: 29px;
}
.nav-menu .nav-menu-items .hr
{
  border-radius: 100px;
  margin-bottom: 20px;
  margin-left: 3px;
  margin-top: 20px;
  background-color: white;
  margin-left: 24px;
  width: 30px;
  height: 1.99px;
}
.nav-menu.active .nav-menu-items {
  width: 100%;
  height: 100%;
}
.nav-menu .nav-menu-items {
  width: 100%;
  height: 100%;
}
.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  min-width: 38px;
}
.nav-text a {
  text-decoration: none;
  color: white;
  width: 80%;
  height: 59%;
  display: flex;
  align-items: center;
  backdrop-filter: blur(25px) saturate(174%);
  -webkit-backdrop-filter: blur(25px) saturate(174%);
  background-color: rgba(255, 255, 255, 0);
}
.nav-text a:hover {
  color: aliceblue;
  backdrop-filter: blur(25px) saturate(174%);
  -webkit-backdrop-filter: blur(25px) saturate(174%);
  background-color: rgba(255, 255, 255, 0.315);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.nav-menu .nav-menu-items .nav-text a span
{
  display: none;
}
.nav-menu.active .nav-menu-items .nav-text a span
{
  display: inline-block;
  margin-bottom: 4px;
  font-size: 16px;
  color: white;
  margin-top: 5px;
  margin-left: 17px;
}
li i{
  margin-top: -2px;
  margin-left: 20px;
}
.nav-menu.active .nav-menu-items .hr1 {
  width: 70%;
  color: white;
  height: 2.3px;
  background-color: white;
  border-radius: 100px;
  margin-top: 30px;
  margin-left: 29px;
}
.nav-menu .nav-menu-items .hr1
{
  border-radius: 100px;
  margin-left: 24px;
  margin-top: 20px;
  width: 30px;
  height: 2px;
  background-color: white;
}

.mainDiv main{
  max-width: 95%;
  height: 100%;
  background-color: 	#dfe3ee;
}

@media only screen and (max-width: 764px) {
  .nav-menu {
    display: none;
  }
  .nav-menu.active {
    display: block;
  }
.nav-menu.active .nav-menu-items .hr1 {
  margin-left: 29px;
}
.nav-menu.active .nav-menu-items .hr {
  margin-left: 29px;
}
.mainDiv main{
  max-width: 100%;
  background-color: 	#dfe3ee;
}
}