@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.navbar {
  height: 3.6rem;
  background-color: var(--primary);
  display: flex;
  align-items: center;
}
.navbar i {
  font-size: 28px;
  margin-left: 20px;
  color: rgba(216, 210, 210, 0.763);
  transition: 0.1s;
  cursor: pointer;
}

.navbar i:hover {
  color: white;
}
.navbar img {
  align-self: center;
  justify-self: center;
  width: 80px;
  margin-top: -7px;
}

.navbar .logocenter {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: 38px;
}

.mainDiv{
  display: flex; 
  height: 100%; 
  min-height: 91.7vh;
}

.nav-menu {
  background-color: var(--primary);
  width: 130px;
  display: flex;
  justify-content: center;
  max-width: 4.88vw;
  min-width: 70px;
  transition: 0.3s;
}

.nav-menu.active {
  display: flex;
  justify-content: center;
  width: 450px;
  min-width: 200px;
  max-width: 14.12vw;
  transition: 0.3s;
}

.nav-menu.active .nav-menu-items .hr {
  width: 70%;
  height: 2.5px;
  background-color: white;
  border-radius: 100px;
  margin-bottom: 20px;
  margin-left: 29px;
}

.nav-menu .nav-menu-items .hr{
  border-radius: 100px;
  margin-bottom: 20px;
  margin-left: 3px;
  margin-top: 20px;
  background-color: white;
  margin-left: 24px;
  width: 30px;
  height: 1.99px;
}
.nav-menu.active .nav-menu-items {
  width: 100%;
  height: 100%;
}

.nav-menu .nav-menu-items {
  width: 100%;
  height: 100%;
}
.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-width: 38px;
  margin: 10px 0;
}
.nav-text a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(25px) saturate(174%);
  -webkit-backdrop-filter: blur(25px) saturate(174%);
  background-color: rgba(255, 255, 255, 0);
  gap: 10px;
}

.nav-text a:hover {
  color: aliceblue;
  backdrop-filter: blur(25px) saturate(174%);
  -webkit-backdrop-filter: blur(25px) saturate(174%);
  background-color: rgba(255, 255, 255, 0.315);
  transition: 0.5s;
} 

.nav-menu .nav-menu-items .nav-text a span{
  display: none;
}

.nav-menu.active .nav-menu-items .nav-text a span{
  display: inline-block;
  font-size: 16px;
  margin-left: 12px;
}


.nav-text:hover {
  color: var(--secondry);
}

.nav-menu.active .nav-menu-items .hr1 {
  width: 70%;
  color: white;
  height: 2.3px;
  background-color: white;
  border-radius: 100px;
  margin-top: 30px;
  margin-left: 29px;
}

.nav-menu .nav-menu-items .hr1{
  border-radius: 100px;
  margin-left: 24px;
  margin-top: 20px;
  width: 30px;
  height: 2px;
  background-color: white;
}

.mainDiv main{
  max-width: 95%;
  background-color: 	#bdbdbd83;
  flex: 1;
}

.nav-text{
  display: flex;
  flex-direction: column;
}

.flexstart{
  justify-content: flex-start !important;
  padding-left: 40px;
}

.flexcenter{
  justify-content: center;
}

.flexstartborder{
  justify-content: center !important;
  /* padding-left: 40px; */
  border-left: 5px solid white;
}

.flexcenterborder{
  justify-content: flex-start !important;
  border-left: 5px solid white;
  padding-left: 35px;
}

.subMenu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 93%;
  background-color: white;
  background-color: 	#3B4248;
  border-radius: 0 0 4px 4px;
  position: relative;
  margin: 0 auto;
  margin-top: -10px;
}

.subMenu .nav-text a{
  background-color: var(--primary);
  margin: 0;
  height: 50px;
}

.subMenu .nav-text a:hover {
  color: aliceblue;
  backdrop-filter: blur(25px) saturate(174%);
  -webkit-backdrop-filter: blur(25px) saturate(174%);
  background-color: rgba(255, 255, 255, 0.315);
  transition: 0.5s;
} 

.subMenu li{
  margin: 3px 0;
}

@media only screen and (max-width: 764px) {
  .mainDiv main{
    position: absolute;
    z-index: 1;
    min-width: 100vw;
    min-height: 100vh;
  }

  .navbar{
    z-index: 3;
  }

  .mainDiv nav{
    position: relative;
    z-index: 2;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu.active {
    display: block;
  }
.nav-menu.active .nav-menu-items .hr1 {
  margin-left: 29px;
}
.nav-menu.active .nav-menu-items .hr {
  margin-left: 29px;
}

}