.modalBackground {
  width: 100%;
  min-width: calc(100vw - 100%);
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);

}

.modalContainer {
  width: 450px;
  height: 500px;
  border-radius: 6px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 25px;
  font-family: 'Roboto Flex', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation-name: animateModal;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}


@keyframes animateModal {
  0% {
    top: -20px;
  }

  100% {
    top: 50%;
  }
}

.borderInput {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 100px;
  background: linear-gradient(to right, orange 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(blue 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(to right, green 50%, rgba(255, 255, 255, 0) 0%), linear-gradient(red 50%, rgba(255, 255, 255, 0) 0%);

  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 10px 1px, 1px 10px;
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */

  height: 40%;
  width: 100%;
}

.input {
  display: inline-block;
  padding: 30px 70px;
  cursor: pointer;
}

.input::file-selector-button {
  background-color: #F55D31;
  border: 1px solid #F55D31;
  color: white;
  padding: 10px 20px;
}

.button1 {
  padding: 8px 45px;
  margin-top: -13px;

  cursor: pointer;
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
  align-self: center;
  border: 1px solid var(--primary);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
  /* font-weight: bold; */
  text-decoration: none;
}

.Options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Options p {
  margin-left: 2px;
}

.input1 {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border linear .2s, box-shadow linear .2s;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  padding-left: 10px;
  width: 60px;
  font-size: 18px;
  line-height: 20px;
  border-radius: 3px;
}

@media all and (max-width: 548px) {

  .modalContainer {
    width: 350px;
  }

}

@media all and (max-width: 408px) {

  .modalContainer {
    width: 300px;
  }
}