
.publishedHeader{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 20px;
}
.publishedHeader h1{
    font-size: 25px;
    font-weight: 500;
    color: var(--primary);}

.publishedCoursesOuter{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    margin: 20px;
    min-height: 74vh;
}

.publishedCourses{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
    gap: 15px;
    width: 100%;
}

.joinedCourses{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
    gap: 15px;
    width: 100%;
}


.flexDiv, .flexDiv2{
    display: flex;
    flex: 1;    
    justify-content: space-between;
}
.flexDiv h1
{
    font-size: 18px !important;

}

.flexDiv2{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 1px;
}

.flexDiv2 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-indent: 15px; */
    font-size: 14px !important;
    color: #0374b5;
    cursor: pointer;
    height: 50px !important;
    cursor: pointer;
}

.flexDiv2 h1:hover{
    text-decoration: underline;
}
.courseInfo
{
    display: flex;
    background-color: white;
    /* justify-content: space-between; */
    /* align-items: center; */
    flex-wrap: wrap;
    padding: 30px;
    margin: 20px;
    min-height: 87.5vh;
    height: 96%;
    gap: 20px;
}

.join
{
    background-color: #317DFF;
    height: 150px;
    width: 210px;
    color: white;
    padding: 20px;
}
.totalStudents
{
    height: 150px;
    width: 210px;
    background-color: #DD246E;
    color: white;
    padding: 20px;
}
.people
{
    padding: 5px 20px 5px 5px;
}
.secondry
{
    display: flex;
    align-items: center;
    height: 60%;
    justify-content: center;
}
.footer
{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.footer p
{
    font-size: 30px;
}
.box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--accent);
  }