.joinedHeader{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 20px;
}

.joinedCoursesOuter{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 20px;
}

.joinedCourses{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
    gap: 30px;
    width: 100%;
}

.flexDiv, .flexDiv2{
    display: flex;
    flex: 1;    
    justify-content: space-between;
}

.flexDiv2{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.flexDiv2 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 15px;
    height: 50px !important;
    cursor: pointer;
}

.flexDiv2 h1:hover{
    text-decoration: underline;
}