
.mainDashboard
{
    height: 100%;
}

.button
{
    width: 95%;
    display: flex;
    flex-direction: column;
}
.joinedHeader
{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 20px;
}

.joinedHeader button{
    /* margin: 0 0 0.7rem 0; */
  background-color: #5811cb;
  align-self: center;
  border-radius: 4px;
  border: 1px solid #5811cb;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif;
}
.joinedHeader h1{
    font-family: 'Quicksand', sans-serif;
}
.joinedCourses
{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
}

.joinedList
{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 250px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 0 20px 30px ;
}

.joinedList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.joinedList img{
    object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

@media only screen and (max-width: 557px) {
    .joinedCourses{
        justify-content: center;
    }
  }