.button{
    width: 95%;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 18px;
}

.joinedHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px 20px 30px;
    margin: 15px 15px 0px 15px;
    overflow-wrap: break-word;
    /* background-color: rgb(255, 255, 255); */
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.55rem;
}

.joinedHeader button{
    /* margin: 0 0 0.7rem 0; */
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0.02857em;
    min-width: 64px;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 700;
    border-radius: 0.5rem;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    transition: all 50ms ease-in 0s;
    min-height: 2.5rem;
    padding: 0.625rem 1.5rem;
    background-image: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    background-position-y: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: rgb(255, 255, 255);
    gap: 10px;
    box-shadow: rgb(52 71 103 / 15%) 0rem 0.1875rem 0.1875rem 0rem, rgb(52 71 103 / 20%) 0rem 0.1875rem 0.0625rem -0.125rem, rgb(52 71 103 / 15%) 0rem 0.0625rem 0.3125rem 0rem;
    background-size: 150% !important;
    background-position-x: 25% !important;

}

.joinedHeader button:hover{
    position: relative;
    top: 2px;
}

.joinedHeader button:focus{
    position: relative;
    top: 4px;
}

.joinedHeader h1{
    font-size: 1.3rem;
    line-height: 1.625;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    letter-spacing: 0.0075em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 1;
    width: 200px;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(52, 71, 103);
    font-weight: 700;
}
.joinedCourses{
    /* background-color: white; */
    padding: 40px 0px 20px 0px;
    /* justify-content:space-between; */
    flex-wrap: wrap;
    margin: 15px 15px 0px 15px;
    gap: 30px;
    row-gap: 50px;
    overflow-wrap: break-word;
    /* background-color: rgb(255, 255, 255); */
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.55rem;
    /* box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem; */
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    /* margin-left: -24px; */
    
}

.joinedList{
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    /* position: relative; */
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    overflow: visible;
    height: 100%;
    min-width: 23%;
}

.subMain
{
    padding: 1rem;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.joinedList img{
    /* padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 4px; */
    margin-top: -40px;
    height: 12.5rem;
    opacity: 1;
    /* background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)); */
    color: rgb(52, 71, 103);
    border-radius: 0.4rem;
    /* box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(0 187 212 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;; */
    box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;

    width: 240px;
    height: 170px;
}
.joinedList .h2
{
    padding: 24px 8px 8px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    box-shadow: none;
    display: flex;
    justify-content: center;
    
}
.joinedCourses div{
    cursor: pointer;
}


.imgg{
    margin-top: -40px;
    height: 12.5rem;
    opacity: 1;
    /* background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)); */
    color: rgb(52, 71, 103);
    border-radius: 0.4rem;
    /* box-shadow: rgb(0 0 0 / 14%) 0rem 0.25rem 1.25rem 0rem, rgb(0 187 212 / 40%) 0rem 0.4375rem 0.625rem -0.3125rem;; */
    box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;

    width: 240px;
    height: 170px;
    /* object-fit: cover; */
    /* width: 100%; */
    /* z-index: 2; */
    -webkit-filter: blur(1px);
    filter: blur(2px);
    /* height: 70%; */
    border-radius: 5px 5px 0px 0px;
    background-color: grey;
}

.no
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media only screen and (max-width: 1468px) {
   
    .joinedList{
        width: 48%;
    } 
}
@media only screen and (max-width: 1049px) {
   
    
    .joinedList{
        width: 100%;
    } 
/* .joinedList img{
    height: 220px;
    width: 54%;
} */
}
@media only screen and (max-width: 1049px) {
   
    
.joinedList img{
    height: 220px;
    width: 300px;
}
}

@media only screen and (max-width: 453px) {
   
.joinedHeader h1{
font-size: 1rem;
width: 144px;
text-overflow: clip;
}
.joinedHeader button{
    padding: 0.525rem 0.5rem;
}
.joinedHeader{
    padding: 30px 10px;
}
.joinedList img{
    height: 180px;
    width: 260px;
}

}
