.button{
    width: 95%;
    display: flex;
    flex-direction: column;
}
h1
{font-size: 20px;}
h2{
    font-size: 18px;
}

.joinedHeader{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin: 20px;
}

.joinedHeader button{
    /* margin: 0 0 0.7rem 0; */
  background-color: var(--primary);
  align-self: center;
  border-radius: 4px;
  border: 1px solid var(--primary);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif;
}

.joinedHeader button:hover{
    position: relative;
    top: 2px;
}

.joinedHeader h1{
    font-family: 'Quicksand', sans-serif;
}
.joinedCourses{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin: 20px;
    gap: 30px;
}

.joinedCourses div{
    cursor: pointer;
}

.joinedList{
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 250px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinedList{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.joinedList img{
    /* object-fit: cover; */
    width: 100%;
    height: 70%;
    border-radius: 5px 5px 0px 0px;
    background-color: grey;
}
.joinedList h2{
    height: 30%;
    display:flex ;
    align-items:center ;
    justify-content:center ;

}

@media only screen and (max-width: 591px) {
    .joinedCourses{
        justify-content: center;
    }
  }