* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.labelMain
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
  column-gap: 40px;
}

.labelCourse {
  width: 300px;
  height: 50px;
  padding: 5px 2px 5px 5px;
  margin-top: 7px;
  border: 1px solid white;
  border-radius: 6px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.labelCourse select {
  cursor: pointer;
  padding: 4px 0px;
  border: 0px solid #000000;
  border-radius: 4px;
  background: white;
  width: 156px;
  /* margin-left: -4px; */
  /* flex: 1; */
  font-size: 16px;
}
.labelCourse select::-ms-expand {
  display: none;
}
.labelCourse select:hover,
.labelCourse select:focus {
  color: #000000;
  background: white;
}
.labelCourse select:hover ~ .labelCourse_arrow,
.labelCourse select:focus ~ .labelCourse_arrow {
  border-color: #000000;
}

.labelCourse label {
  margin-right: 7px;
  font-size: 16px;
}

.labelCourse2 {
  width: 300px;
  height: 50px;
  padding: 5px 0px 5px 5px;
  margin-top: 7px;
  border: 1px solid white;
  border-radius: 6px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.labelCourse2 select {
  cursor: pointer;
  padding: 4px 0px;
  border: 0px solid #000000;
  border-radius: 4px;
  background: white;
  width: 156px;
  font-size: 16px;
}
.labelCourse2 select::-ms-expand {
  display: none;
}
.labelCourse2 select:hover,
.labelCourse2 select:focus {
  color: #000000;
  background: white;
}
.labelCourse2 select:hover ~ .labelCourse2_arrow,
.labelCourse2 select:focus ~ .labelCourse2_arrow {
  border-color: #000000;
}

.labelCourse2 label {
  margin-right: 7px;
  font-size: 16px;
}

.editor2 {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  margin-bottom: 10px;
}
.radioDiv
{
margin: 20px 0
}

.radioDiv input
{
margin: 0px 3px 0 10px
}

.h11
{
  margin: 10px 0;
}

@media only screen and (max-width: 987px) {
  .labelMain {
    justify-content: flex-start;
  }
  .labelCourse2
  {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 658px) {
  .labelCourse2
  {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 604px) {
  .labelMain {
    justify-content: center;
  }
  .labelCourse2, .labelCourse {
    width: 80%;
    min-width: 302px;
  }

}