* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.labelCourse {
  width: 300px;
  padding: 5px 0px 5px 5px;
  margin-top: 7px;
  border: 1px solid white;
  border-radius: 6px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.labelCourse select {
  cursor: pointer;
  padding: 4px 0px;
  border: 0px solid #000000;
  border-radius: 4px;
  background: white;
  width: 156px;
  margin-left: -4px;
  flex: 1;
  font-size: 16px;
}
.labelCourse select::-ms-expand {
  display: none;
}
.labelCourse select:hover,
.labelCourse select:focus {
  color: #000000;
  background: white;
}
.labelCourse select:hover ~ .labelCourse_arrow,
.labelCourse select:focus ~ .labelCourse_arrow {
  border-color: #000000;
}

.labelCourse label {
  margin-right: 7px;
  font-size: 16px;
}

.editor2 {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
  margin-bottom: 10px;
}
.radioDiv
{
margin: 20px 0
}

.radioDiv input
{
margin: 0px 3px 0 10px
}