.mcqMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editorContainer {
  background-color: white;
  width: 600px;
}

.editorContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.editorMainDiv {
  margin-top: 50px;
}

.editorContainer label{
  display: flex;
  justify-content: center;
  align-items: center;
}

.editorContainer label > input{
  width: 20px !important;
}

.mcqMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editorContainer{
  width: 47.5%;
  min-width: 315px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom:1px solid rgba(0, 0, 0, 0.256);
  height: 100px;
}

.editorContainer label {
  color: rgba(0, 0, 0, 0.655);

}
.editorContainer input[type=text] {
  border: 0;
  flex:1;
}

.button {
  cursor: pointer;
  background-color: #5811cb;
  align-self: center;
  border: 1px solid #5811cb;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  /* font-weight: bold; */
  padding: 10px 25px;
  text-decoration: none;
  margin-top: 35px;
  margin-bottom: 30px;
  font-family: 'Roboto Flex', sans-serif;
}