.mcqMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editorContainer {
  background-color: white;
  width: 600px;
}

.editorContainer{
  display: flex;
  justify-content: space-between;
}
.editorMainDiv {
  margin-top: 50px;
}

.editorContainer label > input{
  width: 20px !important;
}

.button {
  cursor: pointer;
  background-color: #5811cb;
  align-self: center;
  border: 1px solid #5811cb;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  /* font-weight: bold; */
  padding: 10px 25px;
  text-decoration: none;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: 'Roboto Flex', sans-serif;
}

@media only screen and (max-width: 629px) {
  .editorContainer {
    /* height: 400px; */
  }
}
@media only screen and (max-width: 576px) {
  .editorContainer {
    /* height: 410px; */
  }
}
@media only screen and (max-width: 559px) {
  .editorContainer {
    /* height: 420px; */
  }
}
@media only screen and (max-width: 450px) {
  .editorContainer {
    /* height: 450px; */
  }
}
