@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  font-size: 18px;

}
.pool {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 91.7vh;
}
.pool .intro h1 {
  font-size: 25px;
  font-weight: 500;
  color: var(--primary);
}
.pool .intro {
  width: 99.3%;
  height: 15%;
  padding: 15px;
  word-wrap: break-word;
  background-color: white;
  border-radius: 12px;
  margin-top: 10px;
}
.pool .poolsBar {
  width: 99.3%;
  height: 7%;
  padding: 4px 0px 1px 0px;
  font-family: 'Roboto Flex', sans-serif;
  margin-top: 5px;
}
.button2,
.button0,.button3 {
  cursor: pointer;
  background-color: var(--primary);

  align-self: center;
  border: 1px solid var(--primary);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
  /* font-weight: bold; */
  padding: 10px 20px;
  height: 90%;
  text-decoration: none;
}
.pool .poolsBar button:hover {
  color: rgba(249, 249, 249, 0.874);
}
.pool .poolsBar .span2 {
  margin-left: 35px;
}
.button2,.button3 {
  margin-left: 5px;
}

@media only screen and (max-width: 585px) {
  .pool .intro {
    height: 18%;
    padding: 10px 0px 10px 10px;
  }
}

@media only screen and (max-width: 764px) {
  .pool{
    /* min-width: calc(100vw - 100%); */
  }
}
@media only screen and (max-width: 604px) {
.button3,.button0,.button2
{
  padding: 8px 5px;
  font-size: 16px;
}

  .allButton
  {
    display: flex;
    justify-content: center;
  }

}