.poolsCategory {
  width: 99.3%;
  height: 7%;
  padding: 9px 0px 0px 2px;
}
.poolsCategory {
  width: 300px;
  padding: 5px 0px 5px 5px;
  margin-top: 7px;
  border: 1px solid white;
  border-radius: 6px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.poolsCategory select {
  cursor: pointer;
  padding: 4px 0px;
  border: 0px solid #000000;
  border-radius: 0px;
  background: #e6e6e6b0;
  background: white;
  border-radius: 4px;
  width: 156px;
  font-size: 16px;
}
.poolsCategory label {
  margin-right: 7px;
  font-size: 16px;
}
.poolsCategory select::-ms-expand {
  display: none;
}
.poolsCategory select:hover,
.poolsCategory select:focus {
  color: #000000;
  background: #cccccc8e;
  background: white;
}
.poolsCategory select:hover ~ .poolsCategory_arrow,
.poolsCategory select:focus ~ .poolsCategory_arrow {
  border-color: #000000;
}
.table {
  margin-top: 20px;
}
.poolsCategory svg {
  margin-left: 10px;
  font-size: 35px;
  color: black;
}
.poolsCategory svg:hover {
  color: red;
}
.displayQuestions
{
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
}

.courseName
{
  margin-bottom: 5px;
  font-size: 18px;
}

.questionHeader
{
  display: flex;
  padding: 10px;
}

.questionHeader h1
{
  flex: 1;
}

.question 
{
  margin: 0 70px 0 -10px;
  flex: 30;
}

.ul li
{
  list-style-type: upper-latin;
  margin: 5px 0;
}

.questionType span
{
  border: 1px solid black;
  padding: 2px;
}

.questionType
{
  flex: 1;
  text-align: end;
}
