.poolsCategory {
  width: 99.3%;
  height: 7%;
  padding: 9px 0px 0px 2px;
}
.poolsCategory {
  width: 99.3%;
  height: 7%;
  padding: 9px 0px 0px 2px;
  margin-top: 7px;
}
.poolsCategory select {
  cursor: pointer;
  padding: 4px 0px;
  border: 0px solid #000000;
  border-radius: 0px;
  background: #e6e6e6b0;
  width: 156px;
}
.poolsCategory label {
  margin-right: 7px;
}
.poolsCategory select::-ms-expand {
  display: none;
}
.poolsCategory select:hover,
.poolsCategory select:focus {
  color: #000000;
  background: #cccccc8e;
}
.poolsCategory select:hover ~ .poolsCategory_arrow,
.poolsCategory select:focus ~ .poolsCategory_arrow {
  border-color: #000000;
}
.table {
  margin-top: 20px;
}
.poolsCategory svg {
  margin-left: 10px;
  font-size: 35px;
  color: black;
}
.poolsCategory svg:hover {
  color: red;
}
