@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto Flex', sans-serif; */
}
.SignupMain {
  display: flex;
}
.SignupImage {
  width: 30%;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
}

.SignupForm {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.4rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 69%;
  width: 35%;
  min-width: 310px;
  min-height: 350px;
  max-width: 320px;
  max-height: 350px;
}

.SignupForm h1 {
  color: var(--primary);
  font-size: 1.7rem;
  margin: 15px 0 32px 0;
  font-weight: lighter;
}

.SignupForm input {
  width: 100%;
  border-width: 0 0 2px;
  border-color: #6b6b6b;
  font-size: 1.1rem;

  outline: 0;
  border-width: 0 0 2px;
  border-color: #6b6b6b;
}

.SignupForm input:focus {
  border-color: #151515;
}

.SignupForm button {
  /* margin: 0px 0 1.1rem 0; */
  background-color: var(--primary);
  align-self: center;
  border: 1px solid var(--primary);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 40px;
  text-decoration: none;
  font-family: 'Roboto Flex', sans-serif;
}

.footer {
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 36px;
}

.field {
  width: 80%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.field p {
  color: red;
}

@media all and (max-width: 734px) {
  .SignupMain {
    flex-direction: column;
  }
  .SignupImage {
    width: 100%;
    height: 10vh;
    min-height: 64.36px;
  }
  .SignupImage img {
    width: 75px;
    height: 64px;
  }
  .SignupContainer {
    width: 100%;
    height: 100%;
  }
  .SignupMain {
    height: 100vh;
  }
}
